/*
 * Tema rielaborato a partire dal tema di Carlos Alvarez
 * URL del'autore originale: http://Alvarez.is
 *
 * Progetto originale: NYC Design
 * Versione: 1.0
 * Data: 04-20-2014
 */

@font-face {
    font-family: 'Indie Flower';
    src: url('../font/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;/* reset*/
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;/* per evitare che sia piu corta della pagina */
}

body{
	display: flex;
	flex-direction: column;
	background-color: white;
}
 /*
	servono tutti e 3 */
a, a:focus, a:hover {
    text-decoration: none;
}

.bluebak {
    background-image: url(../img/ciano.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

.bluebak * {
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 300px;
    border-bottom: 1px solid black;
}
h1 {
    font-size: 60px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
h3, h4, h5, h6 {
    display: none;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    flex: 1;
}

/*
 * Navigation bar
 */

nav{
	display: flex;
	flex-direction: row;
	border-style: none;
	color: #ffffff;
	width: 100%;
	align-items: stretch;
	height: 65px;
}

#nav_lang{
  display: block flow;
  background: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 130px;
}

#nav_menu {
	display: flex;
	align-items: stretch;
	border-style: none;
	padding: 0;
	margin: 0;
}

#nav_menu a, #nav_menu a:hover, #nav_menu a:focus{
	padding: 20px 25px;
	border-bottom: 5px solid transparent;
}

#nav_menu a{
	border-bottom-color: transparent;
}

#nav_menu a:hover, #nav_menu a:focus{
	border-bottom-color: white;
}

#nav_menu a.active{
	font-weight: bold;
	border-bottom-color: white;
}

.nav_button{
	border-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.nav_but{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px 25px;
	background-color: transparent;
	cursor: pointer;
}

.nav_but span{
	font-size: 25px;
	font-weight: bold;
}

/*
 * Dropdown menu
 */
#nav_zero {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
}

.nav_drop{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: 20px;

	border-top: 1px solid #FAEBD7;
	border-bottom: 1px solid #FAEBD7;

	position: absolute;
	min-width: 200px;
	height: 0;
	overflow-y: hidden; /* quello che esce fuori si nasconde */
}

.nav_drop a {
	flex-grow: 1;
	font-weight: 700;
	border-top: 1px solid #FAEBD7;
	border-bottom: 1px solid #FAEBD7;
	padding: 20px 25px;
        text-align: center;
}

.code {
    font-family: monospace;
}

::selection {
    background: #2270c9;
    color: #a4003a;
    text-shadow: none;
}

.email {
	display: none;
}

.citation {
    font-family: 'Indie Flower';
    font-weight: bold;
    font-size: 30px;
    margin: 0 5%;
}
.citation_author {
    font-family: 'Indie Flower';
    font-size: 25px;
    margin: 0 10%;
    text-align: end;
}
.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
	flex-grow: 1;
	color: #4a4a4a;
	margin-top: 80px;
	margin-bottom: 80px;
}
noscript {
	background-color: rgba(255, 0, 0, 0.4);
	padding: 40px 50px;
	margin: 0 50px;
	border-left: 5px solid red;
	display: inline-block;
}

/*
 * Main page
 */

.mainpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.maimage{
	max-width:30%;
	height:auto;
	margin-top:-10px;
	border-radius:5%
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

footer {
	min-height: 150px;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	align-items: stretch;
}

footer div{
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

footer a {
	font-size: 30px;
}

footer a:hover {
	text-shadow: 2px 2px gray;
}

.span_cont{
	display: flex;
	text-align: center;
}

.span_ltr{
	flex-grow: 2;
	flex-basis: 0;
}

.span_ctr{
	display: flex;
	flex-direction: column;
	flex-grow: 10;
	flex-basis: 0;
}

.pub_row {
  margin: 15px 0;
}

/*
curriculum
*/

.cur{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
 

.cur_sect{
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.cur_row{
	display: flex;
	margin: 15px 0;
}

.cur_date{
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: flex-end;
	align-items: center;
	padding: 0 30px;
}

.cur_des{
	flex-basis: 0;
	flex-grow: 3;
	flex-shrink: 3;
	text-align: left;
	padding: 0 30px;
}


/*
table
*/

.container{
	display:flex;
	flex-direction: column;
	align-items:center;
}

.table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.tb_empty{
	background-color: transparent;
	width: 20vw;
	height: 0;
}

.table tr{
	border-bottom: 1px solid black;
}

.table th, .table td{
	padding: 25px 15px;
}

.table tr:hover{
	background-color: #6fb0d9;
}

.table thead tr:hover{ /*se tolgo .table si comporta strano */
	background-color: white;
}


/*
table links
*/

.lcont{
	display:flex;
	flex-direction: column;
	align-items:center;
}

.ltable{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.ltb_empty{
	background-color: transparent;
	width: 20vw;
	height: 0;
}

.ltable tr{
	border-style: none;
}

.ltable td{
	padding: 25px 15px;
}

.llink {
	color: #00BFFF;
}

.logo {
	display: inline flow-root; //equivalente ad inline
	width: 24px;
	height: 24px;
	margin: 0 6px;
}

@media only screen and (max-width: 980px){/* attiva menu */
	.nav_button{
		display: block;
		background-color: transparent;
		text-align: center;
		vertical-align: middle;
	}
	.span_ltr{
		flex-grow: 1;
		flex-basis: 0;
	}
	#nav_menu{
		display: none;
	}
	.nav_drop{
        width: 100%;
	}
	#nav_label{
    	display: inline flow-root;
		border: 5px solid white;
		border-radius: 5px;
		margin: 10px 25px;
		width: 40px;
		height: 40px;
		background-color: transparent;
	}
}

@media only screen and (max-width: 830px){
	html, body{
		font-size: 13px;
	}
	h1 {
		font-size: 27px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 15px;
	}

	.span_ltr{
		flex-grow: 0;
		flex-basis: 0;
	}

	.tb_empty{
		width: 0;
	}
	nav{
		height: 45px;
	}
	.nav_but span {
		font-size: 20px;
	}
	.nav_drop{
		font-size: 15px;
        width: 100%;
	}
	#nav_brand_id{
		padding-top: 15px;
	}
	#nav_label{
    	display: inline-block;
		border: 3px solid white;
		border-radius: 5px;
		margin: 10px 20px;
		width: 25px;
		height: 25px;
		background-color: transparent;
	}

	.cur_date{
		padding: 0 5px;
	}

	.cur_des{
		padding: 0 10px;
	}
	.mainpage{
		gap: 20px;
	}
	.maimage{
		max-width:50%;
	}
	header {
		min-height: 140px;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	footer a{
		font-size: 20px;
	}
	
	.logo{
		width: 16px;
		height: 16px;
		margin: 0 4px;
	}
}
