html, body{
	margin-left: 10%;
	margin-right: 10%;
	color: #000033;
	background-color: #ffffcc;
	font-family: Verdana, "DejaVu Sans", sans-serif;
	font-size: 125%;
	text-align: center;
	}

.link{
	margin: 0;
	}

@media only screen and (min-width:100px) and (max-width:748px){
html, body{
	margin-left: 0;
	margin-right: 0;
	font-size: 18px;
	}

.link{
	margin: 15px 0;
	}
}

a:link{
	font-size: 1.1em;
	text-decoration: none;
	color: #0099cc ;
	}

a:visited{
	text-decoration: none;
	color: #0099cc;
	}

a:hover{
	color: #0000ff;
	text-decoration: none;
	}

h1{
	font-size: 2.5em;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}

h3{
	font-size: 1.6em;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}
h5{
	font-size: 1.3em;
	}


