html, body{
	margin-left: 10%;
	margin-right: 10%;
	color: #000033;
	background-color: #ffffcc;
	font-family: Verdana, "DejaVu Sans", sans-serif;
	font-size: 20px;
	text-align: center;
	}

@media only screen and (min-width:100px) and (max-width:748px){
html, body{
	margin-left: 0;
	margin-right: 0;
	font-size: 18px;
	}
}

a:link{
	text-decoration: none;
	color: #0099cc ;
	}

a:visited{
	text-decoration: none;
	color: #0099cc;
	}

a:hover{
	color: #0000ff;
	text-decoration: none;
	}

#title{
	font-size: 270%;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}

#subtitle{
	font-size: 150%;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}

.section{
	font-size: 130%;
	}

