html, body{
	margin-left: .5cm;
	margin-right: .5cm;
	color: Black;
	background-color: #ffffcc;
	font-family: Verdana, "DejaVu Sans", sans-serif;
	font-size: 15px;
	text-align: center;
	}

a:link{
	text-decoration: none;
	color: #0099cc ;
	}

a:visited{
	text-decoration: none;
	color: #0099cc;
	}

a:hover{
	color: #0000ff;
	text-decoration: none;
	}

#title{
	font-size: 270%;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}

#subtitle{
	font-size: 180%;
	font-family: Georgia, "Bitstream Charter", sans-serif;
	}

.section{
	font-size: 130%;
	}

ul li	{
	list-style-type: square;
	}
